<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Blog</title>
  <link href="/output.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>
      Page Title
    </h1>
    <nav>
  </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
