<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit vel ratione excepturi harum in? Repellendus nobis, suscipit consectetur iste nesciunt minus dicta. Quis, fuga error rem aliquam autem hic!</p>
</div>
<div>
    <button>login</button>
    <button>signup</button>
</div>