<div class="flex" style="justify-content: center; margin: .5em;">
  <img src="{{logo.imagePath}}" class="logo" style="width: 40%; height: auto" alt="{{logo.imageAlt}}" />
</div>

<div class="flex" style="justify-content: center">
  <p style="width: 60%; height: auto; margin-top: 2.5em;">
    "Welcome to the ultimate travel companion for the adventurous and organized
    traveler! Our site is designed for people who love to travel and want an
    easy way to document all of their trips. Whether you're a seasoned traveler
    or just starting out, our site is the perfect way to help you organize and
    remember your travels. With our site, you can drop a pin anywhere on a map
    to create a visual representation of your travels. Simply click on the pin
    to input all your memories, like a journal. Our site offers separate places
    to store your favorite foods and other experiences, but the best part is
    that it's completely customizable to fit your unique needs. Say goodbye to
    forgotten adventures and hello to a beautifully organized record of your
    travels. Start documenting your trips today!"</p>
</div>

  <dialog class="modal" id="modal-1">
    <form method="dialog">
      <label for="username">Username</label>
      <input type="text" name="username" id="username-1" class="input-field" />
      <label for="display_name">Display Name</label>
      <input type="text" name="display_name" id="display_name" class="input-field" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password-1" class="input-field" />
      <button class="button close-button">Cancel</button>
      <button class="button" type="submit">Sign Up</button>

    </form>
  </dialog>

    <dialog class="modal" id="modal-2">
    <form method="dialog">
      <label for="username">Username</label>
      <input type="text" name="username" id="username-2" class="input-field" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password-2" class="input-field" />
      <button class="button close-button">Cancel</button>
      <button class="button" type="submit">Log In</button>
    </form>
  </dialog>

  <div class="flex" style="justify-content: center">
  <button class="button open-button">
    <a id="signup">Sign Up</a>
  </button>
  <button class="button">
    <a id="login">Login</a>
  </button>

</div>
<script src="/JS/login.js"></script>


