<div>
    <img src="{{imagePath}}" alt="{{imageAlt}}">
</div>

<!-- The Modal -->
<div>
  <div>
    <div></div>
  </div>

  <div class="bg-white rounded-lg px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
    <!-- The Modal Content -->
    <div class="">
      <!-- The Close Button -->
      <div class="flex justify-end">
        <button class="text-3xl leading-none hover:text-gray-500" @click="showModal = false">
          &times;
        </button>
      </div>
      <!-- The Modal Title -->
      <h2 class="text-lg font-medium text-gray-900 pb-4">Modal Title</h2>
      <!-- The Modal Body -->
      <p class="text-gray-700">Modal Body</p>
      <!-- The Modal Footer -->
      <div class="flex justify-end pt-2">
        <button class="text-sm font-medium bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-lg">
          Close
        </button>
        <button class="text-sm font-medium bg-indigo-500 hover:bg-indigo-600 text-white px-4 py-2 rounded-lg ml-4">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
