<h1>Location</h1>
<div>
  <h2>journals/bullet points</h2>
  <div>
    <button>add</button>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>
<div>
  <h2>user input 1</h2>
  <div>
    <button>add</button>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>
<div>
  <h2>user input 2</h2>
  <div>
    <button>add</button>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>
<div>
  <h2>user input 3</h2>
  <div>
    <button>add</button>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>
<div>
  <h2>plugins?</h2>
  <div>
    <button>add</button>
    <button>edit</button>
    <button>delete</button>
  </div>
</div>